body {
    background-color: #090C10;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    height: 100%;
    margin-bottom: 100px;
    


}


.nav-bar {
    background-color: #4f80ff;
    vertical-align: middle;
    flex-wrap: wrap;
    padding: 10px;

}

button {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 10px;
    margin-bottom: 01px;
    background-color: #090C10;
    transition-duration: .3s;
    margin-left: 12px;
}

button:hover {
    background-color: white;
    color: black;
}

button:active {
    background: white;
    color: black;
    box-shadow: 0 5px #090C10;
    transform: translateY(3px);
}



footer {
    background-color: #4f80ff;
    vertical-align: middle;
    flex-wrap: wrap;
    height: 30px;
    padding: 10px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bolder;
    position: fixed;
    bottom: 0;
    

}

.foot {
    margin-top: 5px;
    text-align: center;
    
}

.typog {
    position: relative;
    list-style-type: none;
    padding-right: 20px;


}

.typo1 {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 90px;
    grid-row: 4;
    float: left;

}



h1 {
    font-size: 150px;
    color: #4f80ff;
    text-align: center;
    
}

h2 {
    font-size: 50px;
    text-align: center;
}

p {
    font-size: larger;

}