body {
    background-color: #090C10;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    height: 90vh;

}


.nav-bar {
    background-color: #4f80ff;
    vertical-align: middle;
    flex-wrap: wrap;
    padding: 10px;

}

button {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 10px;
    margin-bottom: 01px;
    background-color: #090C10;
    transition-duration: .3s;
    margin-left: 12px;
}

button:hover {
    background-color: white;
    color: black;
}

button:active {
    background: white;
    color: black;
    box-shadow: 0 5px #090C10;
    transform: translateY(3px);
}

footer {
    height: 25px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    background-color: #4f80ff;
    vertical-align: middle;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;



}

.foot {
    margin-top: 3px;
    text-align: center;

}

.typog {
    position: relative;
    list-style-type: none;
    padding-right: 20px;

}

.typo1 {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 90px;
    grid-row: 4;
    float: left;

}



